*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: #dfdfdf;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #e7e3e3;
    padding: 15px 30px;
    margin-top: 20px;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #555454;
    font-weight: bolder;
    margin: 40px 0 20px 0;
}

h2 {
    text-align: center;
    color: #9b9898;
    font-family: Arial, Helvetica, sans-serif;
}
#first-p {
    text-align: center;
    background-color: #80f389;
    color: #524e4e;
    /*margin: 0 auto; */
    padding: 20px 0;
    width: 100%;
    margin-bottom: 30px;
}
p {
    margin-bottom: 30px;
}

p, ul > li {
    color: #eee7e7;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f25e7;
    margin: 5px;
    padding: 5px;
}